.top {
	width: 100%;
	display: flex;
	position: fixed;
	height: 50px;
	align-items: center;
	justify-content: space-between;
	background: black;
	z-index: 100;
    padding: 0 5%;
    height: 54px;
}


.top li {
	font-size: 18px;
	color: white;
	font-weight: bold;
}


.top .nav li:first-child {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.top li a {
	color: white;
	font-size: 18px;
}

.top li a:hover {
	cursor: pointer;
	color: #ffc107;
}

.top .menu:hover {
	cursor: pointer;
}

.top .ordered:hover {
	cursor: pointer;
}

.active {
	color: #ffc107 !important;
}

.cart {
	margin: 54px 0 0 0;
}

.nav li {
	margin-right: 20%;
	margin-bottom: 20px;
}

.pay {
	display: flex;
	align-items: center;
	background: black;
	color: white;
}

.pay li {
	display: flex;
	color: #ffc107;
}

.pay span {
	font-size: 18px;
}

.pay .total {
	margin: 0 15px;
}

.pay a {
	font-weight: bold;
    padding: 5px 20px;
    background: white;
    color: black !important;
    border-radius: 3%;
}

.cart_product {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	margin: 10px 0;
	padding: 30px 0;
	background: white;
	min-width: 330px;
}

.cart_product label {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}


.cart_product .checkmark:before {
	content: "";
  	position: absolute;
	left: 5px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cart_product .link {
	display: block;
	margin: auto;
	width: 50%;
}

.cart_product img {
	width: 100%;
}

.cart_product .close {
	position: absolute;
	top: 3px;
	right: 10px;
	font-size: 25px;
	font-weight: bold;
	transform: rotate(45deg);
}

.cart_product .close:hover {
	cursor: pointer;
}

.cart_product .name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.cart_product .price {
	font-weight: bold;
	color: #d0021c;
	font-size: 18px;
}

.cart_product .quantity {
	margin-right: 20px;
}

@media screen and (max-width: 600px) {
	.top .left .nav {
		display: none;
	    position: absolute;
	    top: 50px;
	    left: 0px;
	    background: black;
	    padding: 20px;
	    width: 200px;
	    z-index: 100;
	}
	
	.top .left .menu {
		    display: block;
		    position: absolute;
		    left: 20px;
		    top: 50%;
		    transform: translateY(-50%);
	}
}

@media screen and (min-width: 601px) {
	.top .left .nav {
		display: flex !important;
	}
	
	.top .nav li {
		margin-bottom: 0;
	}
	
	.top .left .menu {
		display: none;
	}
}


@media screen and (max-width: 768px) {
	.cart_product {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
	}
	.cart_product .quantity {
		grid-column: 1/span 2;
	}
}