header .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

header .logo {
	max-width: 120px;
}

header form {
	width: 50%;
	margin-right: 15px;
}

header .searchBox {
	display: flex;
	justify-content: flex-end;
	border: 2px solid black;
}

header .searchBox input {
	border: none;
	border-right: 1px solid black;
	padding: 5px;
	width: 100%;
	font-size: 20px;
}

header .searchBox input:focus {
	outline: none;
}

header .searchBox button {
	border: none;
	min-width: 60px;
	font-size: 30px;
	padding: 5px;
}

header .searchBox button:hover {
	cursor: pointer;
	color: gold;
}

header .topnav {
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
	padding: 5px 15px;
	font-size: 18px;
}

header .topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

header .topnav ul a {
	color: white;
}

header .topnav ul a:hover {
	cursor: pointer;
	color: gold;
}

header li {
	padding: 10px 0;
}

header .left li {
	margin-right: 20px;
}

header .right li {
	margin-left: 20px;
}

header .right .admin>span {
	border: 2px solid white;
	border-radius: 100%;
	padding: 10px;
}

header .right .admin {
	position: relative;
}

header .right .admin>span:hover {
	border: 2px solid gold;
	cursor: pointer;
}

header .admin .content {
	position: absolute;
	top: 60px;
	right: -15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: white;
	color: rgb(145, 145, 145);
}

header .admin .content li {
	margin: 0px;
	padding: 15px;
	color: rgb(145, 145, 145);
}

header .admin .content li:nth-of-type(1) {
	padding: 25px 15px;
	border-bottom: 2px solid #f1f1f1;
}

header .admin .content span {
	border: 2px solid gold;
	border-radius: 100%;
	padding: 15px;
	color: gold;
	margin-right: 20px;
}

header .admin .logout:hover {
	cursor: pointer;
	color: gold;
}