body {
	background: #f1f1f1;
	display: grid;
	grid-template-columns: 1fr;
	min-height: 100vh;
}

.grid-container.content {
	display: grid;
	grid-template-columns: 1fr;
	padding: 15px 30px;
}

.main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 15px;
	row-gap: 15px;
	margin-bottom: 20px;
}

.main>h1 {
	white-space: nowrap;
	font-size: 20px;
	grid-column: 1/span 5;
	border-bottom: 3px solid black;
	margin-bottom: 15px;
	color: #3F51B5;
}

.search>p:first-child {
	padding: 0 15px;
}

.home_wrap {
	background: white;
	padding: 15px;
	position: relative;
}

.home_wrap .productinfo {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.home_wrap img {
	width: 100%;
	margin-bottom: 15px;
}

.home_wrap .info {
	margin-bottom: 50px;
}

.home_wrap .info p {
	line-height: 20px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.home_wrap .info p:first-child {
	font-weight: bold;
	font-size: 18px;
}

.home_wrap .info .price {
	font-weight: bold;
	color: #d0021c;
}

.home_wrap .info .discount {
	background: #484df9;
	color: gold;
	margin-left: 10px;
}

.home_wrap .info .more {
	font-weight: bold;
	color: orange;
	margin-bottom: 0;
}

.home_wrap .info .more .star {
	font-size: 12px;
	margin-left: 2px;
}

.home_wrap .info .more .sold {
	font-weight: normal;
	margin-left: 20px;
	color: grey;
}

.home_wrap .addcart {
	position: absolute;
	padding: 10px;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	color: #FFC107;
	background: #9C27B0;
	font-weight: bold;
	white-space: nowrap;
}

.side {
	grid-area: 1/1/2/2;
}

.side .filter {
	padding: 15px 0;
	display: flex;
    flex-wrap: wrap;
}

.side .filter form {
	display: flex;
}
.side .filter form p:last-child {
    flex: 100%;
} 
.side .filter form button {
    max-width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
} 

.side .filter .filter_child {
	width: 70px;
	margin-right: 20px;
	margin-bottom: 15px;
	border: none;
}

.side .filter form > div {
	position: relative;
    border: 1px solid silver;
    background: white;
}

.side .filter form > div:hover {
	cursor: pointer;
}

.side .filter .content {
	position: absolute;
	top: 40px;
	left: 0;
	display: none;
	white-space: nowrap;
	width: 280px;
	flex-wrap: wrap;
	background: white;
    box-shadow: -1px 1px 3px black;
    z-index: 998;
}

.side .filter form > div > p {
    padding: 5px;
}

.side .filter form > div > p:before {
	content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-top: 5px solid black;
}

.side .filter form > div > p.filter_css:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 999;
}

.side .filter .filter_child .content label {
	flex: 25%;
	padding: 10px;
	margin: 10px;
	position: relative;
}

.side .filter .filter_child .content .checkmark {
	position: absolute;
	border: 1px solid silver;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.side .filter .filter_child .content label:hover {
	color: #3F51B5;
	cursor: pointer;
}

.side .filter .filter_child .content label:hover input ~ .checkmark {
	border-color: #3F51B5;
}

.side .filter .filter_child .content input:checked ~ .checkmark {
	border: 2px solid #3F51B5;
}

.side .filter input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.side h1 {
	white-space: nowrap;
	font-size: 20px;
	border-bottom: 3px solid black;
	color: #3F51B5;
    margin-right: 20px;
    align-self: flex-start;
}

.side h1 a {
	cursor: pointer;
	color: #ffc107;
}

.side h1 span {
	font-size: 20px;
}

.side .fa-filter {
	font-size: 15px;
	margin-right: 5px;
}

.side .popular {
	margin-bottom: 0;
}

.side .popular ul {
	list-style-type: none;
}

.side .popular>ul {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

.side .popular>ul>li>ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 15px;
	row-gap: 15px;
}

.side .popular>ul>li {
	margin: 0 0 15px 0;
}

.side .popular>ul>li.more {
	display: none;
}

.side .popular ul>li>span {
	display: flex;
	align-items: center;
	text-transform: capitalize;
	font-weight: bold;
}

.side .popular ul>li>span i {
	margin-right: 5px;
}

.side .popular ul>li>span:hover {
	cursor: pointer;
}

.side .popular ul .home_wrap:last-child {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.side .popular ul:last-child .home_wrap:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.rotate90deg {
	transform: rotate(90deg);
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
	margin-bottom: 5px;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

@media screen and (max-width: 992px) {
	.main {
		grid-template-columns: repeat(4, 1fr);
	}
	.main>h1 {
		grid-column: 1/span 4;
	}
	.grid-container.content {
		padding: 15px 20px;
	}
	.side .popular>ul>li>ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.main {
		grid-template-columns: repeat(3, 1fr);
	}
	.main>h1 {
		grid-column: 1/span 3;
	}
	.side .popular>ul>li>ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.grid-container.content {
		grid-template-columns: 1fr;
	}
	.main {
		grid-template-columns: repeat(2, 1fr);
	}
	.main>h1 {
		grid-column: 1/span 2;
	}
	.side .popular>ul>li>ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		overflow-x: scroll;
	}
}

@media screen and (max-width: 460px) {
	.main {
		column-gap: 5px;
		row-gap: 5px;
		padding: 0 5px;
	}
	.grid-container.content {
		padding: 15px 0;
	}
	.side {
		padding: 0 10px;
	}
	.main>h1 {
		padding: 0 5px;
	}
}

@media screen and (max-width: 360px) {
	
	.side .shopping {
		padding: 15px 10px;
	}
	.home_wrap {
		padding: 10px;
	}
}

@media screen and (max-width: 300px) {
	.side .filter .content {
	    width: 150px;
	}
}