body {
	background: silver;
}

.login {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	overflow-y: scroll;
	min-width: 280px;
}

.login .container {
	display: flex;
	min-width: 900px;
}

.login form {
	width: 50%;
	padding: 20px 0;
	background: white;
	padding: 40px;
}

.login form h1 {
	font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.login form p {
	display: flex;
	flex-direction: column;
}

.login label {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0;
	display: flex;
	align-items: flex-end;
}

.login label span {
	color: red;
	margin-left: 10px;
	font-size: 13px;
    white-space: nowrap;
}

.login .wrap input {
	height: 40px;
	font-size: 15px;
	border: 1px solid #d3d3d3;
	padding: 0 15px;
}

.login form button[id="sub"] {
	width: 100%;
	padding: 10px;
	margin: 20px 0 0;
	font-size: 18px;
	background: black;
	border: none;
	color: white;
}

.login form button:hover {
	cursor: pointer;
	color: gold;
}

.login form>p:last-of-type {
	flex-direction: row;
	margin-bottom: 15px;
}

.login input[type="checkbox"] {
	margin-right: 5px;
}

.login form>p:last-of-type input:hover {
	cursor: pointer;
}

.login form>p:last-of-type label:hover {
	cursor: pointer;
}

.login .close {
	display: block;
	position: absolute;
	top: 5px;
	right: 15px;
	transform: rotate(45deg);
}

.login .close:hover {
	cursor: pointer;
}

.login .close:hover a {
	color: gold;
}

.login .close a {
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.login .footer {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.login .footer button {
	padding: 8px 12px;
	color: white;
	background: red;
	border: none;
}

.login .footer p {
	flex-direction: row;
}

.login .footer p a {
	margin-left: 3px;
}

.login .welcome {
	position: relative;
    width: 50%;
    background: #0f1230;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login .welcome h1 {
    font-size: 36px;
    line-height: 33px;
    margin-bottom: 10px;
}

.login .welcome p {
    font-size: 18px;
}


@media screen and (max-width: 992px) {
	.login .container {
		min-width: auto;
	}
}


@media screen and (max-width: 768px) {
	.login .container {
		flex-direction: column;
		flex-wrap: wrap;
		padding: 30px;
	}
	
	.login .welcome {
		order: 1;
		width: 100%;
		padding: 15px;
	}
	
	.login .welcome h1 {
		font-size: 28px;
	}
	
	.login form {
		order: 2;
		width: 100%;
		padding: 15px;
	}
	
	.login .close {
	    top: 0px;
	    right: 10px;
	}
}

@media screen and (max-width: 360px) {
	.login {
		padding: 0;
	}
	
	.login .container {
		padding: 5px;
	}
}
