body {
	background: silver;
}

.register {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	overflow-y: scroll;
}

.register .container {
	display: flex;
	min-width: 900px;
	padding: 30px 0;
}

.register form {
	width: 50%;
	padding: 20px 0;
	background: white;
	padding: 40px;
}

.register form h1 {
	font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.register form p {
	display: flex;
	flex-direction: column;
}

.register label {
	font-size: 17px;
	font-weight: bold;
	margin: 7px 0;
	display: flex;
	align-items: flex-end;
}

.register label span {
	color: red;
	margin-left: 10px;
	font-size: 13px;
    white-space: nowrap;
}

.register .wrap input {
	height: 40px;
	font-size: 15px;
	border: 1px solid #d3d3d3;
	padding: 0 15px;
}

.register form button[id="sub"] {
	padding: 10px 30px;
	font-size: 18px;
	background: black;
	border: none;
	color: white;
}

.register form button:hover {
	cursor: pointer;
	color: gold;
}

.register .close {
	display: block;
	position: absolute;
	top: 5px;
	right: 15px;
	transform: rotate(45deg);
}

.register .close:hover {
	cursor: pointer;
}

.register .close:hover a {
	color: gold;
}

.register .close a {
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.register .footer {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.register .footer #reset {
	padding: 10px 30px;
	color: white;
	background: red;
	border: none;
	font-size: 18px;
}

.register .footer p {
	flex-direction: row;
}

.register .footer p a {
	margin-left: 3px;
}

.register .welcome {
	position: relative;
    width: 50%;
    background: #0f1230;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register .welcome h1 {
    font-size: 36px;
    line-height: 33px;
    margin-bottom: 10px;
}

.register .welcome p {
    font-size: 18px;
}


@media screen and (max-width: 992px) {
	.register .container {
		min-width: 700px;
	}
}


@media screen and (max-width: 768px) {
	.register .container {
		flex-direction: column;
		flex-wrap: wrap;
		width: 280px;
		min-width: 280px;
	}
	
	.register .welcome {
		order: 1;
		width: 100%;
		padding: 15px;
	}
	
	.register .welcome h1 {
		font-size: 28px;
	}
	
	.register form {
		order: 2;
		width: 100%;
		padding: 15px;
	}
	
	.register .close {
	    top: 0px;
	    right: 10px;
	}
}

