* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Times New Roman;
}

.unvisible {
	display: none ! important;
}

a {
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

.griddisplay {
	display: grid!important;
}

.flexdisplay {
	display: flex!important;
}

.blockdisplay {
	display: block!important;
}